.examine-canvas {
  background-color: rgb(96, 93, 107);
  padding: 30px 20px;
  position: fixed;
  height: 100vh;
  width: 90vw;
  // left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  .examine-chatbox {
    height: 45%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1px;
    &.result {
      height: 0%;
    }
  }
  .examine-options {
    border-radius: 10px;
    background-color: white;
    height: 40%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    &.result {
      height: 50%;
    }
    .options-title {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .options-content {
      margin: 0;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .checkbox-scroll {
      padding: 10px;
      overflow-y: scroll;
      height: 50%;
    }
    .examine-buttons {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}