.normal-sized-text {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 3px;
  color: #1B4A44
}
.small-sized-text {
  font-size: 18px;
  font-weight: 500;
  margin: 8px 10px;
  color: #1B4A44
}
.large-sized-text {
  color: rgb(0, 64, 112);
  font-size: 30px;
  font-weight: 500;
}
.nav-div {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}