.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius:10px;
  cursor: pointer;
  box-shadow: -1px 9px 29px 0px rgba(0,0,0,0.19);
  -webkit-box-shadow: -1px 9px 29px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: -1px 9px 29px 0px rgba(0,0,0,0.19);

}